.btn-primary :focus {
  border:none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.app {
  min-height: 100vh;
  overflow-x: hidden;
  background: url('./goft.jpg') center center no-repeat;
  background-size: cover;
  font-size: 16px;
  height: 100%;	
}